page-form-view {

    .btn-invalid {
        background-color: red;
    }

    .btn-valid {
        background-color: lightgreen;
    }

    .restricted-question-hidden {
        display: none;
    }

    .restricted-question-show {
        display: block;
    }


}
